<extend name="Index/index"/>

<block name="right">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">修改品牌</div>
        </div>
        <div class="panel-body">
            <form action="__CONTROLLER__/update" method="post" enctype='multipart/form-data'>
                <div class="form-group">
                    <label for="">品牌：</label>
                    <input type="text" name="brandname" class="form-control" value="{$row['brandname']}"required autofocus>
                </div>
                <div class="form-group">
                    <label for="">分类：</label>
                    <input type="text" name="class_id" class="form-control" value="{$row['class_id']}"required autofocus>
                </div>

                <input type="hidden" name="id" value="{$row['id']}">

                <div class="form-group">
                    <input type="submit" value="修改" class="btn btn-primary">
                    <input type="reset" value="重置" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
</block>