<extend name="PersonalCenter/index"/>

<block name="css">
    <style>
        .right .welcome{
            display: none;
        }
        .indent{
            display: none;
        }
    </style>
</block>

<!--个人中心新增收货地址页面-->
<block name="main">
    <div class="right_item">
            <div class="f_title">新增收货地址</div>
        <form action="__APP__/Home/PersonalCenter/insertA" method="post" class="r_form">
        <div class="f_left">
                <ul>
                    <li>姓名</li>
                    <li>地址</li>
                    <li>电话</li>
                    <li>邮箱</li>
                    <li class="submit">提交</li>
                    <li class="reset">取消</li>
                </ul>
            </div>
        <div class="f_right">
                <ul>
                    <li><input type="text" name="name" autofocus></li>
                    <li><input type="text" name="address"></li>
                    <li><input type="text" name="phone"></li>
                    <li><input type="email" name="email"></li>
                </ul>
            </div>
        </form>
    </div>
</block>

<block name="js">
    <script>
        //新增收货地址显示
        $(".left ul li a").eq(1).css({"color":"#f30213","background":"#fff"});


    </script>
</block>